extends ./_layout

block title
  | container

block content
  r-container()
    r-header()
      r-row(align-items="center")
        r-col(:span="4", style="text-align:center")
          h1()| Rainbow

        r-col(:span="6")
          r-input(placeholder="搜索组件...")

        r-col(:span="14")
          r-menu(
            mode="horizontal",
            v-model="activeMenu"
          )
            r-menu-item(name="1")
              r-icon(type="ios-paper")
              | 内容管理

            r-menu-item(name="2")
              r-icon(type="ios-people")
              | 用户管理
            
            r-sub-menu(name="3")
              template(slot="title")
                r-icon(type="stats-bars")
                | 统计分析
              
              r-menu-group(title="使用")
                r-menu-item(
                  name="3-1",
                  href="http://baidu.com",
                  target="_blank"
                )
                  | 新增和启动
                r-menu-item(name="3-2")| 活跃分期
                r-menu-item(name="3-3")| 时段分析

              r-menu-group(title="留存")
                r-menu-item(name="3-4")| 用户留存
                r-menu-item(name="3-5")| 流失用户

            r-menu-item(
              name="4", 
              href="http://baidu.com"
            )
              r-icon(type="settings")
              |综合设置

    r-container(style="margin: 10px 20px;")
      r-aside()
        r-menu(
          mode="vertical",
          v-model="activeMenu"
        )
          //- r-menu-group(title="使用")
          //-   r-menu-item(
          //-     name="3-1",
          //-     href="http://baidu.com",
          //-     target="_blank"
          //-   )
          //-     | 新增和启动
          //-   r-menu-item(name="3-2")| 活跃分期
          //-   r-menu-item(name="3-3")| 时段分析

          //- r-menu-group(title="留存")
          //-   r-menu-item(name="3-4")| 用户留存
          //-   r-menu-item(name="3-5")| 流失用户
            
          r-menu-item(name="1")
            r-icon(type="ios-paper")
            | 内容管理

          r-menu-item(name="2")
            r-icon(type="ios-people")
            | 用户管理
          
          r-sub-menu(name="3")
            template(slot="title")
              r-icon(type="stats-bars")
              | 统计分析
            
            r-menu-group(title="使用")
              r-menu-item(
                name="3-1",
                href="http://baidu.com",
                target="_blank"
              )
                | 新增和启动
              r-menu-item(name="3-2")| 活跃分期
              r-menu-item(name="3-3")| 时段分析

            r-menu-group(title="留存")
              r-menu-item(name="3-4")| 用户留存
              r-menu-item(name="3-5")| 流失用户

          r-menu-item(
            name="4", 
            href="http://baidu.com"
          )
            r-icon(type="settings")
            |综合设置

      r-container()
        r-main()
          div| 呵呵
      
        r-footer(
          style="text-align:center;"
        )
          p(style="height:60px;line-height:60px;")| Rainbow UI By Bravfing at 2017.10

block script
  script.
    new Vue({
      el: '#app',
      data () {
        return {
          activeMenu: ''
        }
      }
    })
