extends ./_layout

block title
  | Select

block content
  div.panel
    h3| select single
    div.margin-10
      r-select(
        v-model="currCity",
        style="width:500px",
      )
        r-select-option(
          v-for="city in cities",
          :label="city.label",
          :value="city.value",
          :key="city.value",
        )
    
    h3| select single clearable
    div.margin-10
      r-select(
        v-model="currCity",
        style="width:500px",
        clearable,
      )
        r-select-option(
          v-for="city in cities",
          :label="city.label",
          :value="city.value",
          :key="city.value",
        )
    
    h3| select single filterable
    div.margin-10
      r-select(
        v-model="currCity",
        style="width:500px",
        filterable,
      )
        r-select-option(
          v-for="city in cities",
          :label="city.label",
          :value="city.value",
          :key="city.value",
        )
    
    h3| select single disabled
    div.margin-10
      r-select(
        v-model="currCity",
        style="width:500px",
        disabled,
      )
        r-select-option(
          v-for="city in cities",
          :label="city.label",
          :value="city.value",
          :key="city.value",
        )
    
    h3| select single option disabled
    div.margin-10
      r-select(
        v-model="currCity",
        style="width:500px",
      )
        r-select-option(
          v-for="city in cities",
          :label="city.label",
          :value="city.value",
          :key="city.value",
          :disabled="city.value==2? true:false",
        )
    
    h3| select single small size
    div.margin-10
      r-select(
        v-model="currCity",
        style="width:500px",
        size="small",
      )
        r-select-option(
          v-for="city in cities",
          :label="city.label",
          :value="city.value",
          :key="city.value",
        )
    
    h3| select single placeholder
    div.margin-10
      r-select(
        v-model="currCity",
        style="width:500px",
        placeholder="请选择城市",
      )
        r-select-option(
          v-for="city in cities",
          :label="city.label",
          :value="city.value",
          :key="city.value",
        )
    
    h3| select single notFoundText
    div.margin-10
      r-select(
        v-model="currCity",
        style="width:500px",
        not-found-text="无匹配城市",
      )

  //- multiple
  div.panel
    h3| select multiple
    div.margin-10
      r-select(
        v-model="currCities",
        style="width:500px",
      )
        r-select-option(
          v-for="city in cities",
          :label="city.label",
          :value="city.value",
          :key="city.value",
        )
    
    h3| select multiple clearable
    div.margin-10
      r-select(
        v-model="currCities",
        style="width:500px",
        clearable,
      )
        r-select-option(
          v-for="city in cities",
          :label="city.label",
          :value="city.value",
          :key="city.value",
        )
    
    h3| select multiple filterable
    div.margin-10
      r-select(
        v-model="currCities",
        style="width:500px",
        filterable,
      )
        r-select-option(
          v-for="city in cities",
          :label="city.label",
          :value="city.value",
          :key="city.value",
        )
    
    h3| select multiple disabled
    div.margin-10
      r-select(
        v-model="currCities",
        style="width:500px",
        disabled,
      )
        r-select-option(
          v-for="city in cities",
          :label="city.label",
          :value="city.value",
          :key="city.value",
        )
    
    h3| select multiple option disabled
    div.margin-10
      r-select(
        v-model="currCities",
        style="width:500px",
      )
        r-select-option(
          v-for="city in cities",
          :label="city.label",
          :value="city.value",
          :key="city.value",
          :disabled="city.value==2? true:false",
        )
    
    h3| select multiple placeholder
    div.margin-10
      r-select(
        v-model="currCities",
        style="width:500px",
        placeholder="请选择城市",
        clearable,
      )
        r-select-option(
          v-for="city in cities",
          :label="city.label",
          :value="city.value",
          :key="city.value",
        )
    
    h3| select multiple notFoundText
    div.margin-10
      r-select(
        v-model="currCities",
        style="width:500px",
        not-found-text="无匹配城市",
      )

  
block script
  script.
    var cities = []
    for (var i=0; i<12; i++){
      cities.push({
        value: i,
        label: '北京' + i,
      })
    }

    x = new Vue({
      el: '#app',
      data () {
        return {
          cities: cities,
          currCity: -1,
          currCities: [],
        }
      }
    })
